language: java
sudo: false
jdk:
  - oraclejdk8
  - openjdk8
before_install: 
  - chmod +x install-non-maven-deps.sh
  - ./install-non-maven-deps.sh
script: 
  - mvn -Djava.awt.headless=true clean test

